<div class="container">
    <div class='header'>
        <app-navbar></app-navbar>
    </div>
    <div class="content">
        <ng-content></ng-content>
    </div>
    <div class="footer">
        <app-footer></app-footer>
    </div>
</div>