<form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="text-center border border-light p-5">
    <p class="h4 mb-4">Alta de Usuario</p>
    <div class="form-row mb-4">
        <div class="col">
            <input type="text" formControlName="username" id="defaultRegisterFormUserName" class="form-control" placeholder="Usuario">
        </div>
    </div>
    <input type="name" formControlName="name" id="defaultRegisterFormName" class="form-control mb-4" placeholder="Nombres y Apellidos">
    <input type="email" formControlName="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail">
    <input type="phone" formControlName="phone" id="defaultRegisterFormPhone" class="form-control mb-4" placeholder="Teléfono">
    <button class="btn btn-info my-4 btn-block" type="submit">Registrar</button>
    <hr>
</form>