<div class="card" style="width: 30rem" [ngClass]="{done: user.delete}">
    <div class="card-body">
        <h5 class="card-title">{{user.name}}</h5>
        <li class="list-group-item"><span class="negrita">Teléfono: </span>{{user.phone}}</li>
        <li class="list-group-item"><span class="negrita">Email: </span>{{user.email}}</li>
        <button class="btn btn-lg btn-outline-primary" (click)="open(mymodal)">Ver Dirección</button>
    </div>
</div>

<ng-template #mymodal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Dirección</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="card" style="width: 18rem;">
            <div class="card-body ">
                <li class="list-group-item"><span class="negrita">Cuidad: </span>{{user['address'].city}}</li>
                <li class="list-group-item"><span class="negrita">Calle: </span>{{user['address'].street}}</li>
                <li class="list-group-item"><span class="negrita">Sitio: </span>{{user['address'].suite}}</li>
                <li class="list-group-item"><span class="negrita">CP: </span>{{user['address'].zipcode}}</li>
            </div>
        </div>
    </div>
    <div class="modal-footer ">
        <button type="button " class="btn btn-outline-dark " (click)="modal.close( 'Save click') ">Cerrar</button>
    </div>
</ng-template>