<h3>Lista de usuarios</h3>
<a class="btn btn-primary" routerLink="/user-form">Nuevo Usuario</a>
<br><br>

<ul class="list-group" *ngIf="!isLoading && userList.length">
    <app-user *ngFor="let user of userList" [user]="user"></app-user>
</ul>

<div class="alert alert-primary" role="alert" *ngIf=" !userList.length">
    No hay usuarios
</div>