<div class="row">
    <div class="col-md-4">
        <form (ngSubmit)="onSubmit()" ngNativeValidate>
            <div class="form-group">
                <label for="userlogin">Usuario</label>
                <input [(ngModel)]="user.userlogin" name="email" type="text" required class="form-control" id="email" placeholder="Ingresar el usuario">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input [(ngModel)]="user.password" name="password" type="password" required class="form-control" id="password" placeholder="Ingresar el password">
            </div>
            <button type="submit" class="btn btn-primary">Ingresar</button>
        </form>
    </div>
</div>